In [1]:
a = 123
print(type(a))
print(type(float(a)))

<class 'int'>
<class 'float'>

In [4]:
a = 9.98
print(type(a))
print(type(int(a)))

<class 'float'>
<class 'int'>

In [10]:
ex = ["labtop", 39000,"wimdow", "lenovo", "Bengaluru", "laptop", 39000, "MAC", "lenovo", "Chikkodi"]
print(ex)
print(ex.count("lenovo"))
print(type(ex))

['labtop', 39000, 'wimdow', 'lenovo', 'Bengaluru', 'laptop', 39000, 'MAC', 'lenovo', 'Chikkodi']
2
<class 'list'>

In [11]:
A = 10
B = 20
print(A + B)

30

In [19]:
#Addition of 10 and 20 value is = 30
x = ("Addition of 10 and 20 value is = 30")
print(x)

Addition of 10 and 20 value is = 30

In [33]:
first = float(input("enter first value: "))
second = float(input("enter second value: "))
print(first * second)

enter first value: 10
enter second value: 5
50.0

In [35]:
first_name = input("Enter first name : ")
last_name = input("Enter last name : ")
print(first_name + last_name)

Enter first name : Pooja
Enter last name : sarika
Poojasarika

In [36]:
i = int(input())
j = int(input())
print(i*j)

7
6
42