In [38]:
print("Hello Word")

Hello Word

In [43]:
i = input()
j = input()
print(i +j)

BKC
college
BKCcollege

In [45]:
X = 100
Y = 50
print(f'addition of {X} and {Y} value is = {X + Y}')

addition of 100 and 50 value is = 150

In [48]:
X = 100
Y = 50
print(f'division of{X} and {Y} value is = {X/Y}')

division of100 and 50 value is = 2.0

In [62]:
# Hi, Good Morning My name is Sarika, i have completed MCA in the year of
# 2022, currently i'm working in kLE BK BCA College Chikkodi 591244
name = "Sarika"
course = "MCA"
year = 2022
Department = "BCA"
pincode = 591244

print(f"Hi, Good morning My name is {name}, i have completed {course}, in the year of {year}, currently i'm working in KLE BK {Department},College Chikkodi {pincode}")

Hi, Good morning My name is Sarika, i have completed MCA, in the year of 2022, currently i'm working in KLE BK BCA,College Chikkodi 591244

In [71]:
a = 10
b = 20
print( "addition of a+b")
print("substraction of a-b")
print("multiplication of a*b")
print("division of a/b")
print("madulo divisin ofa%b")
print("floor division of a//b")
print("exponent division of a**b")

addition of a+b
substraction of a-b
multiplication of a*b
division of a/b
madulo divisin ofa%b
floor division of a//b
exponent division of a**b

In [ ]:
Num1 = int(intput("Enter Num1 value : "))
Num = int ( intput("Enter Num2 value : "))
print("Addition of two numbers is  :" , Num1 + Num2)
print("subtraction of two numbers is :", num1 + num2)
print("multiplication of two numbers is :", num1 * num2)
print("")

In [87]:
a = 20
b = 35
c = 13
d = 10
print( a == b and c < d)
print( 13 != c and d < c)
print(b > a and d < c)
print( 20!= a and c==b)
print(a <b or d ==c)
print((not(a < b )) and 100 < 200)
print(not(d ==10))
print(35 !=d or ( not(20==a)) )
print(not(c <= b and (not(a <= c))))

False
False
True
False
True
False
False
True
False

In [92]:
X = 10
X -= 2
print(X)

8

In [93]:
X *= 5
print(X)

40

In [116]:
 X = 10
 X //=3
print(X)

3

In [115]:
X**=2
print(X)

81

In [118]:
X %=4
print(X)

3

In [119]:
X = 10
print(X)

X -=2
print(X)

X*=5
print(X)

X //=3
print(X)

X**=2
print(X)

X %=4
print(X)

X +=9
print(X)

X /=3
print(X)

10
8
40
13
169
1
10
3.3333333333333335

In [121]:
Num = 9
if Num<10:
  print("10 is a greater than 9")

10 is a greater than 9

In [122]:
user_id = "20MCA103"
Passaword = 1234
if user_id =="20MCA103" and Passaword ==1234:
  print("login successfully")

login successfully

In [143]:
Name = "Sarika"
if Name <= "BKC" :
  print("My name is Sarika")

IndentationError: expected an indented block after 'if' statement on line 2 (ipython-input-1633850181.py, line 3)

In [148]:
Num = int(input("enter a number value :"))
if Num > 0 :
     print("positive number")
else :
     print("negative number")

enter a number value :99
positive number

In [127]:
Ex = 59
if Ex == 58:
  print("are you understand")

In [155]:
Num = int(input("enter a number valuea :"))
if Num % 2 == 0 :
     print("even number")
else :
      print("odd number")

enter a number valuea :99
odd number

In [181]:
yes = int(input("Enter a year value :"))
    if year % 4 == 0 :
         print("Leap year")
    else :
         print("not leap year")

IndentationError: unexpected indent (ipython-input-4085813651.py, line 2)

In [179]:
Age = int (input("enter age value :"))
if Age >= 18:
      print("they are eligible for vote")

else:
      print("they have to wait")

enter age value :21
they are eligible for vote

In [194]:
user_id =input("enter user_id value :")
password = input("enter password value :")
if user_id == "College" and password == "1234" :
     print("loginn  successfully")
else :
      print("invalid details")

enter user_id value :College
enter password value :1234
loginn  successfully

In [199]:
marks = int (input("entera marks value :"))
if marks >= 85 :
   print("Distiction")
elif marks >= 70 :
   print("first class")
elif marks >= 55 :
    print("second clss")
elif marks >= 35 :
    print("just pass")
else:
    print("fail better luck next chance")

entera marks value :89
Distiction

In [204]:
prize = input("entera prize medel :")
if prize == "Gold" :
    print("first prize")
elif prize == "Silver" :
    print("second prize")
elif prize == "Bronze" :
    print("third prize")
elif prize == "certificate" :
    print("samadhanakar bahuman")
else:
     print("better luck next chance")

entera prize medel :Gold
first prize