In [112]:
a,b,c = 10,20,30
a > b and a > c

False

In [18]:
num = int(input("Enter number value is :"))
if num >= 0 :
  if num == 0 :
       print("zero value")
  else :
        print("positive number")
else :
    print("nagative number")

Enter number value is :0
zero value

In [32]:
x, y = 10, 20
option = input("enter your choice option :")
match option :
  case '+' :
     print("sum of values ", x + y)
  case '*' :
     print("multiplication of values ", x * y)
  case '-' :
     print("substraction of values ", x - y)
  case '/' :
     print(" dinision of values ", x / y)
  case '%' :
     print("modulus of values ", x % y)
  case '_' :
     print("invalide opertor")
  case '!=' :
     print("not equal of values ", x != y)

enter your choice option :!=
not equal of values  True

In [36]:
day = int(input("enter a day :"))
match day :
  case 1 :
    print("monday")
  case 2 :
    print("tuesday")
  case 3 :
    print("wednesday")
  case 4 :
    print("thursday")
  case 5 :
    print("friday")
  case 6 :
    print("saturday")
  case 7 :
    print("sunday")
  case 8 :
    print("inholiday")

enter a day :8
inholiday

In [41]:
month = int(input("ener a month :"))
match month :
   case 1 :
     print("january")
   case 2 :
     print("februvary")
   case 3 :
     print("march")
   case 4 :
     print("april")
   case 5 :
     print("may")
   case 6 :
     print("june")
   case 7 :
    print("july")
   case 8 :
    print("august")
   case 9 :
    print("september")
   case 10 :
    print("actober")
   case 11 :
    print("november")
   case 12 :
    print("december")

ener a month :7
july

In [42]:
i = 1
while i <= 60 :
  print(i)
  i +=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60

In [43]:

 i = 1
while i <= 60 :
  print(i,end=" ")
  i +=1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60

In [45]:
i = 1
add = 0
while i <= 10 :
  add =add +i
  i = i+1
  print(add)

1
3
6
10
15
21
28
36
45
55

In [52]:
number = 0
while number != 5 :
  number = number + 5
  print("the number is",number)
  print("out of loop")

the number is 5
out of loop

In [55]:
num = 5
i = 1
while i <= 10 :
  print(num,"*",i,"=",num * i)
  i +=1

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [81]:
num = 153
rem = 0
sum = 0
temp = num
while num > 0 :
  rem = num % 10
  sum = sum + rem * rem * rem
  num = num // 10
if temp == sum :
    print ("armstrong number")
else :
    print("not armstrong number")

armstrong number

In [83]:
num = 12345
rem = 0
rev = 0
temp = num
while num > 0 :
  rem = num % 10
  rev = rev * 10 + rem
  num = num // 10
print("reverse num is :",rev)

reverse num is : 54321

In [85]:
num = 12345
rem = 0
rev = 0
temp = num
while num > 0 :
  rem = num % 10
  rev = rev * 10 + rem
  num = num // 10
if temp == rev :
    print ("polindrome number")
else :
    print("not polindrome number")

not polindrome number

In [86]:
i = 2
while i <= 100 :
  print(i, end = " ")
  i+=2

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [87]:
i = 1
while i <= 100 :
  print(i, end = " ")
  i+=2

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [90]:
 num, a, b = 10, 0, 1
 i = 0
 while i <= num :
    print(a, end = " ")
    a, b = b, a+b
    i +=1

0 1 1 2 3 5 8 13 21 34 55

In [91]:
num = int(input("Enter a number: "))
count = 0
i = 1
while i <= num :
  if num % i == 0 :
    count +=1
  i +=1
if count == 2 :
  print("prime number")
else :
  print("not prime number")

Enter a number: 7
prime number

In [92]:
num = 10
i = 0
while num >= i :
  print(num, end=" ")
  num-=1

10 9 8 7 6 5 4 3 2 1 0

In [93]:
i = 10
while i <= 1208 :
  print(i, end=" ")
  i*=2

10 20 40 80 160 320 640

In [103]:
  colours = ['blue','red','black']
  print(type(colours))

  for i in colours :
    print(i)

<class 'list'>
blue
red
black

In [106]:
colour = ['white','pink','black']
for i in colour :
  print(i)

white
pink
black

In [107]:
numbers = {1,2,3,4,5,6,6,7,8,8,9}
for i in numbers :
  print(i)

1
2
3
4
5
6
7
8
9

In [108]:
Name = "KLE BK BCA College in chikodi"
rev =  " "
for i in Name :
  rev = i + rev
print(rev)

idokihc ni egelloC ACB KB ELK

In [109]:
num = 10
for i in range(1,11) :
  print(num,"*",i,"=",num * i)

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [113]:
for i in range(1,101) :
  if i % 2 == 0 :
    print(i, end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [118]:
for i in range(10):
   print(i)

0
1
2
3
4
5
6
7
8
9

In [127]:
for i in range(1,11):
   print(i)

1
2
3
4
5
6
7
8
9
10

In [133]:
sum = 0
for i in range(1,11):
  sum = sum + i
  print(sum)

1
3
6
10
15
21
28
36
45
55

In [134]:
num = 4
for i in range(1,11) :
  print(num,"*",i,"=",num * i)

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [137]:
num = 16
for i in range(1,11):
   print(num,"*",i,"=",num* i)

16 * 1 = 16
16 * 2 = 32
16 * 3 = 48
16 * 4 = 64
16 * 5 = 80
16 * 6 = 96
16 * 7 = 112
16 * 8 = 128
16 * 9 = 144
16 * 10 = 160

In [139]:
for i in range(2, 101, 2):
  print(i, end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [143]:
fact = 1
for i in range(1,6) :
  fact = fact * i
  print(fact)

1
2
6
24
120

IndentationError: unexpected indent (ipython-input-2775716316.py, line 2)