In [6]:
# 1) example sum of numbers using *args
def add(*args):
  total = 0
  for num in args :
    total +=num
  print("total value is :",total)
add(10,5)
add(5,4,9)
add(10,46,14,20)

total value is : 15
total value is : 18
total value is : 90

In [9]:
def print_details(**kwargs):
  for key, value in kwargs.items():
    print(f"{key}={value}")
print_details(name="sarika", age=25, city="banlore")

name=sarika
age=25
city=banlore

In [14]:
def details(**kwargs):
  for key, value in kwargs.items():
    print(f"{key}={value}")
details(cours="BCA",section='c',college="BK college")
details(place = "bengaluru")
details(roll_num = 201,T_Subject=7)
details(Laptop = "hp", o_s = "window",year = 2022, version = "window")

cours=BCA
section=c
college=BK college
place=bengaluru
roll_num=201
T_Subject=7
Laptop=hp
o_s=window
year=2022
version=window

In [19]:
# example of *args and **kwargs
def show_value(*args,**kwargs):
  print("position Arguments represented in tuple",args)
  print("key - word Arguments represented in Dict ",kwargs)
show_value(1,2,3,4,name="sarika")

show_value(5,8,1,10,Class = "BCA C section",gender = "female")

position Arguments represented in tuple (1, 2, 3, 4)
key - word Arguments represented in Dict  {'name': 'sarika'}
position Arguments represented in tuple (5, 8, 1, 10)
key - word Arguments represented in Dict  {'Class': 'BCA C section', 'gender': 'female'}

In [21]:
fact = 1
for i in range(1,6):
  fact *=i
print(fact)

120

In [32]:
def fact(num):
  if num==0 or num==1:
    return 1
  else:
    return num*fact(num-1)
print(fact(5))

120

In [43]:
# sum of recursion
def sum(numbers):
 if numbers==0 :
   return numbers
 else:
   return numbers+sum(numbers-1)
print("sum of N natural numbers:",sum(10))

sum of N natural numbers: 55

In [56]:
 # fibonaci number recursion
 def fib(n):
    if n <= 1:
       return n
    else:
      return fib(n-1)+fib(n-2)
 for i in range(11):
   print(fib(i),end=" ")

0 1 1 2 3 5 8 13 21 34 55

In [57]:
Name = "sarika"
print(Name[:6])

sarika

In [72]:
class Fruit:
  colour ="Orange"
  price =250
  teste ="sweet"
  shape = "circle"
  def juice(self):
     print("dilecious")
orange = Fruit()
print("orange teste",orange.teste)
orange.juice()

orange teste sweet
dilecious

In [76]:
class Flower:
  smell ="nice"
  petals = 5
  size = "midium"
  gender = "female"
  validity = 1.5
  def decoration(self):
    print("beautiful")
  def gift(self):
    print("looking like wow")
  def death(self):
    print("This flower using for death time")

Obj = Flower()
Obj.gift()
print(Obj.gender)
Obj.decoration()
Obj.death()
print(Obj.petals)
print(Obj.validity)

looking like wow
female
beautiful
This flower using for death time
5
1.5

In [89]:
class Fan :
  colour = "Black"
  Wings = 3
  C_name ="Bajaj"
  price = 1500
  Warrenty = "2 years"
  def start(Self):
    print("When click on butten it'll start")
  def speed(Self):
    print("Based on condition it'll move fast")
  def stop(Self):
   print("When click on off button it'll start")


Obj = Fan()
print(Obj.C_name+" "+Obj.Warrenty)
Obj.stop()

Bajaj 2 years
When click on off button it'll start

In [115]:
#Banking Example
class Bank :
  def __init__(self,balance):
    self.balance = balance

  def Deposit(self, amount):
    self.balance += amount

  def Withdraw(self,amount):
      if amount <= self.balance:
          self.balance -= amount
          print("Transation successfully")
      else:
          print("Insufficient balance")

  def re_balance(self):
      return self.balance

Obj = Bank(1000)
print(Obj.balance)
Obj.Deposit(500)
print(Obj.balance)
Obj.Withdraw(700)
print(Obj.re_balance())
Obj.Deposit(1000)
print("Current total balance is",Obj.balance)
Obj.Withdraw(2000)
Obj.Withdraw(300)
print(Obj.re_balance())

1000
1500
Transation successfully
800
Current total balance is 1800
Insufficient balance
Transation successfully
1500

In [146]:
class Student :
   def __init__(self,name,marks):
     self.__name = name
     self.__marks = marks
   def set(self,name,marks):
     self.name = name
     self.marks = marks
   def get(self):
     return self.name + " " + str(self.marks)
Obj = Student("Pooja",18)
Obj.set("Sharath",21)
print(Obj.get())

Sharath 21

In [150]:
# 1) Single Inheritance
class Parent :
  def Work(self):
    print("My parents are doing forming")

class Children(Parent):
  def Study(self):
    print("I'm studing BCA in BK College")
ch = Children()
ch.Work()

My parents are doing forming

In [157]:
# multiple Inheritance
class father :
  def Hi(self):
    print("My father is my first hero")
class Mother :
  def Hello(self):
    print("My Mother is a House wife")
class child(father,Mother):
  def Bye(self):
    print("I'm Working as a Freelancer")
obj = child()
obj.Hi()
obj.Hello()
obj.Bye()

My father is my first hero
My Mother is a House wife
I'm Working as a Freelancer

In [166]:
# Multi Level Inheritance
class Grand_Parents :
  def Business(self):
    print("* * * * *")
class Parents (Grand_Parents):
  def building(self):
    print("# # # #")
class Child (Parents) :
  def Funny(self):
    print("@ @ @ @")
obj = Child()
obj.building()
obj.Funny()
obj.Business()

# # # #
@ @ @ @
* * * * *

In [183]:
# Hirarchy Inheritance
class Parents :
  def owner(self):
    print("My parents are owner of my house")
class Child1(Parents):
  def Work(self):
    print("Working in Company")
class Child2(Parents) :
  def Enjoy(self):
    print("He was Enjoing his life")
ch = Child1()
ch.owner()
ch.Work()

obj = Child2()
obj.owner()
obj.Enjoy()

My parents are owner of my house
Working in Company
My parents are owner of my house
He was Enjoing his life

In [185]:
# Hybrid Inheritance
class Grand_Parents :
  def owner(self):
    print("My parents are owner of my house")
class Parent1(Grand_Parents):
  def Work(self):
    print("Working in Company")
class Parent2(Grand_Parents):
  def Enjoy(self):
    print("He was Enjoing his life")
class Child(Parent1,Parent2):
  def funny(self):
    print("His life was funny")
obj = Child()
obj.owner()
obj.Work()
obj.Enjoy()
obj.funny()

My parents are owner of my house
Working in Company
He was Enjoing his life
His life was funny