In [1]:
print(type(str(100)))

<class 'str'>

In [5]:
Demo = 1
print(type(Demo))

print(type(bool(Demo)))

<class 'int'>
<class 'bool'>

In [7]:
a = 2.3
print(type(a))
print(type(bool(a)))

<class 'float'>
<class 'bool'>

In [15]:
Ex = False
print(type(Ex))
print(type(str(Ex)))

<class 'bool'>
<class 'str'>

In [23]:
d = "56"
print(type(d))
print(type(float(d)))

<class 'str'>
<class 'float'>

In [25]:
A = [65]
print(type(A))
print(type(str(A)))

<class 'list'>
<class 'str'>

In [27]:
A = (1,2,3)
print(type(A))
print(type(list(A)))

<class 'tuple'>
<class 'list'>

In [30]:
A = {1,2,3}
print(type(A))
print(type(list(A)))

<class 'set'>
<class 'list'>

In [32]:
F = {'pooja': '12'}
print(type(F))
print(type(list(F)))

<class 'dict'>
<class 'list'>

In [38]:
a = "12"
print(type(a))
print(type(tuple(a)))

<class 'str'>
<class 'tuple'>

In [40]:
a = [123]
print(type(a))
print(type(tuple(a)))

<class 'list'>
<class 'tuple'>

In [41]:
a = {1,2,3}
print(type(a))
print(type(tuple(a)))

<class 'set'>
<class 'tuple'>

In [43]:
 a ={"sarika": 23}
 print(type(a))
 print(type(tuple(a)))

<class 'dict'>
<class 'tuple'>

In [48]:
a = {"sarika": 32}
print(type(a))
print(type(set(a)))

<class 'dict'>
<class 'set'>

In [50]:
a = {}
print(type(a))
print(type(list(a)))

<class 'dict'>
<class 'list'>

In [52]:
 a = {}
print(type(a))
print(type(str(a)))

<class 'dict'>
<class 'str'>

In [53]:
a  = {}
print(type(a))
print(type(tuple(a)))

<class 'dict'>
<class 'tuple'>

In [78]:
A = (("name", "pooja"),("age",34))
print(type(A))
print(type(dict(A)))

<class 'tuple'>
<class 'dict'>

In [81]:
I/p  a = 10, b = 20
O/p  a = 20, b = 10

A = 10
B = 10
print("before swapping")
print("A =",A, "B =",B)
print("after swapping")
temp = A
A = B
B = temp
print("A = ",A,"B =",B)

SyntaxError: invalid syntax (ipython-input-4064107274.py, line 1)